In [29]:
import pandas as pd
import numpy as np

In [30]:
from numpy.random import randn
np.random.seed(101)

In [31]:
df = pd.DataFrame(np.random.randn(5,4), index = 'A B C D E'.split(), columns='W X Y Z' .split())

In [32]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

# Encontrar dados maiores que 0 no dataframe =>

In [33]:
df > 0 #me devolve valores booleans (True or False)

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

# definindo variável:

isso pode ser útil para definir valores segundo parâmetro a definir, e se os mesmos não satisfazem as condições, retorna valor NaN na tabela, após isso, faz-se o tratamento, retirando esses valores da tabela para posterior análise dos dados!!!

In [34]:
boolean = df>0

In [35]:
df[boolean]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

# LEIA-SE: quais valores da linha W são maiores do que zero?

In [36]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [37]:
df[df['W']>0]['Y'] #slice

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

A linha acima pode ser escrita desta forma também:

In [38]:
bol = df['W'] > 0
df2 = df[bol]
df2['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

# OPERADOR AND(&)

In [39]:
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

# OPERADOR OR (|)

In [40]:
df[(df['W']>0 | (df['Y']>1))]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

# Resetar o index

In [41]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

o indice se transformou numa coluna, como vimos acima

In [42]:
#df.reset_index(inplace=True) #foi alterado como dataframe original, como se tivesse colocado numa variável

In [43]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

# Colocar alguma coluna do df como INDEX

In [44]:
col = 'RS RJ SP MS AM'.split()

In [45]:
col

['RS', 'RJ', 'SP', 'MS', 'AM']

In [46]:
df['Estado'] = col

In [47]:
df

          W         X         Y         Z Estado
A  2.706850  0.628133  0.907969  0.503826     RS
B  0.651118 -0.319318 -0.848077  0.605965     RJ
C -2.018168  0.740122  0.528813 -0.589001     SP
D  0.188695 -0.758872 -0.933237  0.955057     MS
E  0.190794  1.978757  2.605967  0.683509     AM

In [48]:
df.set_index('Estado') #metodo reset para usar os estados como coluna:

               W         X         Y         Z
Estado
RS      2.706850  0.628133  0.907969  0.503826
RJ      0.651118 -0.319318 -0.848077  0.605965
SP     -2.018168  0.740122  0.528813 -0.589001
MS      0.188695 -0.758872 -0.933237  0.955057
AM      0.190794  1.978757  2.605967  0.683509

In [50]:
df = df.set_index('Estado') #ou escreva assim tambem => df.set_index('Estado', inplace=True)

KeyError: 'Estado'

In [51]:
df

               W         X         Y         Z
Estado
RS      2.706850  0.628133  0.907969  0.503826
RJ      0.651118 -0.319318 -0.848077  0.605965
SP     -2.018168  0.740122  0.528813 -0.589001
MS      0.188695 -0.758872 -0.933237  0.955057
AM      0.190794  1.978757  2.605967  0.683509