Importando bibliotecas =>

In [7]:
import pandas as pd

In [8]:
import numpy as np

comando seed: passamos numeros aleatorios =>

In [9]:
np.random.seed(101)

Método Dataframe, parâmetros serie aleatória de 5 linhas por 4 colunas, o index, o split faz uma lista a partir de uma cadeia de strings =>

In [13]:
df = pd.DataFrame(np.random.randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())

mostrar o DataFrame =>

In [14]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [15]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [16]:
type(df['W'])

pandas.core.series.Series

In [17]:
type(df)

pandas.core.frame.DataFrame

Puxando dados do DF =>

In [18]:
df[['W', 'Z']]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

OU

In [19]:
df.W

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [22]:
df.Z

A    0.000366
B    0.649826
C   -0.346419
D    1.024810
E    0.610478
Name: Z, dtype: float64

é melhor usar a notação de colchetes, df['  '], pois pode ser confundido com algum método, afinal usa-se um ponto após o df

In [23]:
df['Y']

A   -1.136645
B   -0.031579
C   -0.755325
D    0.558769
E   -1.133817
Name: Y, dtype: float64

# Criando novo dataframe

colocar um df chamado, por exemplo, de new, e colocar um igual, como se ele já existisse =>

In [27]:
df['new'] = df['W'] + df['X']
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.796464
B  1.025984 -0.156598 -0.031579  0.649826  0.869386
C  2.154846 -0.610259 -0.755325 -0.346419  1.544588
D  0.147027 -0.479448  0.558769  1.024810 -0.332421
E -0.925874  1.862864 -1.133817  0.610478  0.936990

deletar dataframe

In [29]:
df.drop('new', axis = 1)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [30]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.796464
B  1.025984 -0.156598 -0.031579  0.649826  0.869386
C  2.154846 -0.610259 -0.755325 -0.346419  1.544588
D  0.147027 -0.479448  0.558769  1.024810 -0.332421
E -0.925874  1.862864 -1.133817  0.610478  0.936990

In [31]:
df = df.drop('new', axis = 1)

In [32]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

Localização de elementos, por índice, loc(baseado nos nomes dos índices):

In [34]:
df.loc['A', 'W']

-0.993263499973366

In [35]:
df.loc['A']

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

In [37]:
df.loc[['A', 'B'], ['X', 'Y', 'Z']]

          X         Y         Z
A  0.196800 -1.136645  0.000366
B -0.156598 -0.031579  0.649826

iloc

In [38]:
df.iloc[1:4, 2:]

          Y         Z
B -0.031579  0.649826
C -0.755325 -0.346419
D  0.558769  1.024810