In [1]:
import numpy as np
import pandas as pd

In [2]:
#Níveis de Indice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside)) #hierarquia de index
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index #hierarquia de index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
hier_index = list(zip(outside, inside)) #método zip

In [7]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

método zip pega duas listas de um input e as transforma em uma tupla!

In [8]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])

In [10]:
df

             A         B
G1 1 -1.483069  0.457379
   2  0.413075  0.389143
   3 -0.504794  0.247830
G2 1  1.157679 -0.676360
   2 -0.849470 -0.172544
   3  1.838501 -0.229624

G1 e G2 como um índice interno

In [11]:
df.loc['G1']

          A         B
1 -1.483069  0.457379
2  0.413075  0.389143
3 -0.504794  0.247830

In [12]:
df.loc['G1'].loc[1] #somente a linha 1

A   -1.483069
B    0.457379
Name: 1, dtype: float64

In [13]:
df.index.names #nomes do index

FrozenList([None, None])

podemos especificar o nome:

In [14]:
df.index.names = ['Grupo', 'Numero'] #Indice externo, Indice interno

In [15]:
df

                     A         B
Grupo Numero
G1    1      -1.483069  0.457379
      2       0.413075  0.389143
      3      -0.504794  0.247830
G2    1       1.157679 -0.676360
      2      -0.849470 -0.172544
      3       1.838501 -0.229624

In [16]:
df.xs(['G1']) #Com o xs, podemos puxar elementos no nível interno, o loc apenas puxa do externo

               A         B
Numero
1      -1.483069  0.457379
2       0.413075  0.389143
3      -0.504794  0.247830

In [20]:
df.xs(['G1', 1])

A   -1.483069
B    0.457379
Name: (G1, 1), dtype: float64

In [23]:
df.xs(1, level='Numero') #filtrou o grupo externo

              A         B
Grupo
G1    -1.483069  0.457379
G2     1.157679 -0.676360