In [1]:
i = 1

In [2]:
while i < 5:
    print('i vale: {}'.format(i))
    i = i + 1

i vale: 1
i vale: 2
i vale: 3
i vale: 4

In [3]:
out = []

In [4]:
x = [1,2,3,4]

In [5]:
for item in x:
    out.append(item**2)
out

[1, 4, 9, 16]

In [6]:
[item**2 for item in x]

[1, 4, 9, 16]

# FUNÇÕES

# São formas de criar métodos para reciclar códigos

In [7]:
def my_function(param):
    print(param)

In [8]:
my_function

In [10]:
my_function('Olá')

Olá

In [4]:
def my_function(param):
    x = param ** 2
    return x

In [5]:
x = 2

In [6]:
y = my_function(x)

In [7]:
y

4

# funções LAMBDA

Funções que facilitam a reduçõa do código, e se formos usar uma ou duas vezes

In [8]:
def quadrado(var):
    return var ** 2

In [9]:
quadrado(2)

4

In [10]:
def quadrado(var): return var ** 2

In [11]:
quadrado(2)

4

In [12]:
lambda var: var ** 2

funções só ocorrem dentro delas e não se relacionam com códigos de fora

# MAP AND FILTER

In [14]:
seq = [1,2,3,4,5]

 map é uma função, vai calcular os iteráveis e vai  passar como valores em uma função

In [15]:
map(quadrado, seq)

In [17]:
list(map(quadrado, seq))

[1, 4, 9, 16, 25]

In [18]:
list(map(lambda x:x**2, seq))

[1, 4, 9, 16, 25]

In [19]:
list(filter(lambda item:item%2==0, seq))

[2, 4]

In [22]:
list(filter(lambda item:item%2!=0, seq))

[1, 3, 5]

# metodos

são funções que vivem dentro de uma classe

In [23]:
str = 'olá me chamo jéssica'

In [24]:
type(str)

str

In [25]:
str.lower()

'olá me chamo jéssica'

In [26]:
str.upper()

'OLÁ ME CHAMO JÉSSICA'

In [27]:
str

'olá me chamo jéssica'

In [28]:
str.split()

['olá', 'me', 'chamo', 'jéssica']

In [30]:
str.split("me")

['olá ', ' chamo jéssica']

In [32]:
len(str.split())

4

posição do elemento "chamo"

In [33]:
len(str.split("chamo"))

2

In [34]:
list = [1,2,3]

In [36]:
list.append(4)

In [37]:
list

[1, 2, 3, 4]

pop extrai o último valor da lista:

In [38]:
list.pop()

4

In [39]:
list

[1, 2, 3]

In [40]:
first

NameError: name 'first' is not defined

In [41]:
first = list.pop(0)

In [42]:
first

1

In [43]:
list

[2, 3]

operador IN checaa se está contido na lista:

In [44]:
'x' in [1,2,3]

False

In [45]:
1 in list

False

In [46]:
x

2